
$primary-color:#e91e63; 
$secondary-color:#1AC673;
$theme-color-0:#000000; 
$theme-color-1:#212121; 
$theme-color-2:#303030; 
$theme-color-3:#424242; 
$main-font-color:white; 
$font:'Roboto';
$heading-font:'Roboto Condensed';

@import 'topnav';
@import 'sidenav';

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-form {
    position: relative;
    z-index: 1;
    background: $theme-color-3;
    margin:auto;
    margin-top: 2%;
    width: 96%;
    padding: 2%;
    text-align: center;
    height: 100%;

    img{
        width:80%;
        height: auto;
    }

    a{
        font-family: $font;
        color:$main-font-color;
        
    }
}
