<div class="topnav">
    <div >
        <h1 >MANGA</h1>
        <a (click)="Logout()" >&#x2718;</a>
        <a class="topnav-user-button">{{currentUser.username}}</a>
    </div>

</div>
<div>
    <div *ngFor="let manga of mangas">
        <div class="SelectionListItem" (click)="changeMenuStateItem(manga.name)">
            <div class="SelectionListContent">
                <img src="mangas/covers/{{manga.name}}.jpg" class="SelectionListCover"/>
            </div>
            <div class="SelectionListItem-menu" id="{{manga.name}}">
                <a class="SelectionListItem-menu-title"> {{manga.name}}</a>
                <a class="SelectionListItem-menu-content">{{manga.numVolumes}} Volumes</a>
                <footer class="SelectionListItem-menu-button" (click)="read(manga.name)">Read</footer>
            </div>
        </div>
    </div>
</div>