<!--
<mat-sidenav-container>
    <mat-sidenav #Usernav class="sidenav" mode="over" position="end">
        <h1>{{currentUser.username}}</h1>
        <a (click)="Logout()">Logout</a>
    </mat-sidenav>

    <mat-sidenav-content>
-->
<mat-toolbar class="topnav">
        <span>
            <h1>MANGA</h1>
        </span>
        <span class="fill-remaining-space"></span>
        <span><a class="topnav-right">{{currentUser.username}}</a></span>
        <span><a (click)="Logout()"><i class="material-icons">clear</i></a></span>
</mat-toolbar>
<div>
    <div *ngFor="let manga of mangas">
        <div class="SelectionListItem" (click)="changeMenuStateItem(manga.name)">
            <div class="SelectionListContent">
                <img src="mangas/covers/{{manga.name}}.jpg" class="SelectionListCover" />
            </div>
            <div class="SelectionListItem-menu" id="{{manga.name}}">
                <a class="SelectionListItem-menu-title"> {{manga.name}}</a>
                <a class="SelectionListItem-menu-content">{{manga.numVolumes}} Volumes</a>
                <footer class="SelectionListItem-menu-button" (click)="read(manga.name)">Read</footer>
            </div>
        </div>
    </div>
</div>
<!--
    </mat-sidenav-content>
</mat-sidenav-container>
        -->